{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="site-wrap">
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'blog-home' %}"></span> <strong style="color:blue;">Home</strong></a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
        </div>
      </div>
    </div>  
    <div class="about-details" style="padding-top: 50px;">
      <div class="container">
        <div class="row">
          <div class="offset-xl-1 col-lg-8">
            <div class="about-details-cap mb-50">
              <h4>Our Mission</h4>
              <p>The mission to create this website was to provide efficient services to users globally who want to buy rare precious materials online at ease and safety way.We provide best products to our users.Each product is authenticated by scholars before get into shop page.We also provide free shipping facility to all customers.
              </p>
            </div>

            <div class="about-details-cap mb-50">
              <h4>Our Vision</h4>
              <p>we aim to build a global network; thus, providing a reliable online platform to auctioneers and bidders from all across the world. On establishing a secure base, we ensure to manage all sorts auctioning activities be it small or major. Our main objective is bringing ease to our clients such that auctioning is not a burden for any business person and bidding is not a matter of risk for anyone across the globe.
              </p>
            </div>

            <div class="about-details-cap mb-50">
              <h4>Our Values</h4>
              <p>Our greatest asset is the reputation we have built over the years in terms of reliability, integrity, transparency, trust, and excellence in the auctioning services. We aim to fulfill our commitments and provide first-rate customer service.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'blog/images/person_2.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">K.Keerthana</h3>
                  <p class="block-38-subheading">Main Member</p>
                </div>
                <div class="block-38-body">
                  <p>IIIT Sri City</p>
                  <p>UG-2 CSE</p>
                  <p>2018-2022 Batch</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'blog/images/person_1.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">V.Haneesha</h3>
                  <p class="block-38-subheading">Main Member</p>
                </div>
                <div class="block-38-body">
                  <p>IIIT Sri City</p>
                  <p>UG-2 CSE</p>
                  <p>2018-2022 Batch</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'blog/images/person_2.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">G.Sai Divya</h3>
                  <p class="block-38-subheading">Main Member</p>
                </div>
                <div class="block-38-body">
                  <p>IIIT Sri City</p>
                  <p>UG-2 CSE</p>
                  <p>2018-2022 Batch</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'blog/images/person_1.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Ch.Saishma</h3>
                  <p class="block-38-subheading">Main Member</p>
                </div>
                <div class="block-38-body">
                  <p>IIIT Sri City</p>
                  <p>UG-2 CSE</p>
                  <p>2018-2022 Batch</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'blog/images/person_2.jpg' %}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">A.Anu Sree</h3>
                  <p class="block-38-subheading">Main Member</p>
                </div>
                <div class="block-38-body">
                  <p>IIIT Sri City</p>
                  <p>UG-2 CSE</p>
                  <p>2018-2022 Batch</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section site-section-sm site-blocks-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Shipping</h2>
              <p>Door-step delivery via merchite's world-class fullfillment network.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Returns</h2>
              <p>Return for a refund or a replacement for damaged and defective items.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Customer Support</h2>
              <p>Business-only prices and bulk discounts on lakhs of items.Providing full support to customers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}