{% extends "blog/base.html" %}

{% block content%}
<body>
<div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'blog-home' %}"><strong style="color:blue;">Home</strong></a> <span class="mx-2 mb-0">/</span> <strong class="text-black">My items</strong></div>
        </div>
      </div>
    </div>
<h4>
{% if items %}
<div class=shop1 style="width: 100%;  height: 1000px; padding: 50px;  margin: 20px;">
    <div class="row">
    	{% for item in items %}
        <div style="color:black;font-size: 20px;margin: 20px;">
    
        <img src="{{ item.image.url }}" height="200px" width="300px" style="margin-bottom: 20px; padding-left: 25px" /> 
     
        <center><div style="margin-left:30px">
          <div>
          	<a href="{% url 'shop-item' item.pk %}"  style="color:blue">{{item.title}}</a>
          </div><br>
          Current Bid : {{item.currentbid}}<br></br>
          Category : {{item.category}}<br></br>
          <!--DESCRIPTION : {{item.description}}<br></br>-->
          {% if item.is_active %}
                <span class="my-auction-status-active">
                    Pending
                </span>
                <span class="my-auction-value">
                    Rs.{{ item.finalprice }}
                </span>
            {% elif item.is_exp %}
                {% if item.final_value %}
                <span class="my-auction-status-resolved">
                    Final value: Rs.{{ item.final_value }}
                </span>
                {% else %}
                <span class="my-auction-status-no_winner">
                    No winner
                </span>
                {% endif %}
            {% else %}
                <span class="my-auction-status-no_winner">Pending</span>
            {% endif %}
        </div></center>
         
        </div>
    {% endfor %}
    </div>
    <div class=shop1 style="width: 100%;  height: 300px; padding: 30px;  margin: 5px;">
      <div class="pagination" style="width: 100%;  height: 60px;">
      
      {% if items.has_previous %}
        <a class="btn btn-outline-info mb-4" style ="background-color: #008CBA;" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" style ="background-color: #008CBA;" href="?page={{items.previous_page_number}}">Previous</a>
      {% endif %}
      
      {% for num in items.paginator.page_range %}
        {% if items.number == num %}
          <a class="btn btn-info mb-4" style ="background-color: #008CBA;" href="?page={{ num }}">{{ num }}</a>  
        {% elif num > items.number|add:'-3' and num < items.number|add:'3' %}  
          <a class="btn btn-outline-info mb-4" style ="background-color: #008CBA;" href="?page={{ num }}">{{ num }}</a> 
        {% endif %}
      {% endfor %}

      {% if items.has_next %}
        <a class="btn btn-outline-info mb-4" style ="background-color: #008CBA;" href="?page={{ items.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" style ="background-color: #008CBA;" href="?page={{ items.paginator.num_pages}}">Last</a>
      {% endif %}

      </div> 
    </div>
</div>
{% else %}
<div class=con style="height:240px;padding-top: 30px">
    <div class="alert alert-info">
        There are no items sold by you yet! To sell - <a style="color:blue;" href="{% url 'sell' %}">Click here</a>
    </div>
 </div>

{% endif %}
</div>
</div>
</h4>

</body>
{% endblock content %}
